{% extends "blog/base.html" %}
{% block title %}Blog App{% endblock %}
{% block content %}
    <h1>Blog App</h1>
        {% for post in posts %}
            <h2>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </h2>
            <p class="date">Published {{ post.publish }} by {{ post.author }}</p>
            {{ post.body|truncatewords:30|linebreaks }}
        {% endfor %}
    {# Since in the current template the page is passed in the posts parameter. #}
    {% include "pagination.html" with page=posts %}
{% endblock %}